default:
  before_script:
    # Docker Hub
    - echo "$DOCKERHUB_TOKEN" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin "$DOCKERHUB_REGISTRY"
    # Using GitLab deploy token
    - echo "$CI_DEPLOY_PASSWORD" | docker login -u "$CI_DEPLOY_USER" --password-stdin "$CI_REGISTRY"

#  after_script:
#    - docker logout $CI_REGISTRY
#    - docker logout

stages:
  - build

variables:
  DOCKERHUB_REGISTRY: registry-1.docker.io
  DOCKERHUB_USERNAME: danger89

workflow:
  rules:
    - if: '$CI_PROJECT_NAMESPACE == "melroy" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

pnpm-alpine:build:
  stage: build
  tags:
    - shell
  parallel:
    matrix:
        # LTS releases only for now
      - NODE_VERSION: ["22", "24"]
        # Important: No array for PNPM_VERSION
        PNPM_VERSION: "10.26.2"
  script:
    - cd pnpm
    - export IMAGE_NAME="pnpm:${NODE_VERSION}"
    - |
      docker build \
        --build-arg node_version=${NODE_VERSION} \
        --build-arg pnpm_version=${PNPM_VERSION} \
        -t $CI_REGISTRY_IMAGE/$IMAGE_NAME \
        -t $DOCKERHUB_REGISTRY/$DOCKERHUB_USERNAME/$IMAGE_NAME \
        -f Dockerfile .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME
    - docker push $DOCKERHUB_REGISTRY/$DOCKERHUB_USERNAME/$IMAGE_NAME

cmake-debian:build:
  stage: build
  tags:
    - shell
  parallel:
    matrix:
        # Debian versions to build
      - DEBIAN_VERSION: ["bookworm", "trixie", "forky"]
        # Important: No array for CPPCHECK_VERSION
        CPPCHECK_VERSION: "2.19.0"
  script:
    - cd cmake
    - export IMAGE_NAME="cmake:${DEBIAN_VERSION}-cppcheck-${CPPCHECK_VERSION}"
    - |
      docker build \
        --build-arg debian_version=${DEBIAN_VERSION} \
        --build-arg cppcheck_version=${CPPCHECK_VERSION} \
        -t $CI_REGISTRY_IMAGE/$IMAGE_NAME \
        -t $DOCKERHUB_REGISTRY/$DOCKERHUB_USERNAME/$IMAGE_NAME \
        -f debian.Dockerfile .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME
    - docker push $DOCKERHUB_REGISTRY/$DOCKERHUB_USERNAME/$IMAGE_NAME

cmake-ubuntu:build:
  stage: build
  tags:
    - shell
  parallel:
    matrix:
        # Ubuntu versions to build
      - UBUNTU_VERSION: ["jammy", "noble", "plucky"]
        # Important: No array for CPPCHECK_VERSION
        CPPCHECK_VERSION: "2.19.0"
  script:
    - cd cmake
    - export IMAGE_NAME="cmake:${UBUNTU_VERSION}-cppcheck-${CPPCHECK_VERSION}"
    - |
      docker build \
        --build-arg ubuntu_version=${UBUNTU_VERSION} \
        --build-arg cppcheck_version=${CPPCHECK_VERSION} \
        -t $CI_REGISTRY_IMAGE/$IMAGE_NAME \
        -t $DOCKERHUB_REGISTRY/$DOCKERHUB_USERNAME/$IMAGE_NAME \
        -f ubuntu.Dockerfile .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME
    - docker push $DOCKERHUB_REGISTRY/$DOCKERHUB_USERNAME/$IMAGE_NAME

gtk-cmake-ninja:build:
  stage: build
  # This build depends on the cmake images being built first
  needs: ["cmake-debian:build", "cmake-ubuntu:build"]
  tags:
    - shell
  parallel:
    matrix:
        # Provide multiple GTK versions (both are installed in the same image), comma separated.
      - GTK_VERSIONS: "3.0,4.0"
        # Both Debian + Ubuntu
        DISTRO_VERSION: ["bookworm", "trixie", "forky", "jammy", "noble", "plucky"]
        # Important: No array for CPPCHECK_VERSION
        CPPCHECK_VERSION: "2.19.0"
  script:
    - cd gtk-cmake-ninja
    - export IMAGE_NAME="gtk-cmake-ninja:${DISTRO_VERSION}"
    - |
      docker build \
        --build-arg distro_version=${DISTRO_VERSION} \
        --build-arg cppcheck_version=${CPPCHECK_VERSION} \
        --build-arg gtk_versions=${GTK_VERSIONS} \
        -t $CI_REGISTRY_IMAGE/$IMAGE_NAME \
        -t $DOCKERHUB_REGISTRY/$DOCKERHUB_USERNAME/$IMAGE_NAME \
        -f Dockerfile .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME
    - docker push $DOCKERHUB_REGISTRY/$DOCKERHUB_USERNAME/$IMAGE_NAME

php:build:
  stage: build
  tags:
    - shell
  variables:
    PHP_VERSION: "8.5"
  script:
    - cd php
    - export IMAGE_NAME="php:${PHP_VERSION}"
    - |
      docker build \
        --build-arg php_version=${PHP_VERSION} \
        -t $CI_REGISTRY_IMAGE/$IMAGE_NAME \
        -t $DOCKERHUB_REGISTRY/$DOCKERHUB_USERNAME/$IMAGE_NAME \
        -f Dockerfile .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME
    - docker push $DOCKERHUB_REGISTRY/$DOCKERHUB_USERNAME/$IMAGE_NAME
